<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bca.cancercure">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ric_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ric_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity_DashNavi"
            android:screenOrientation="portrait"
            android:label="@string/title_activity__dash_navi"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity_login"
            android:label="SKINN"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity_register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"></activity>
        <activity
            android:name=".activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"></activity>
        <activity
            android:name=".ui.diagtests.mri_activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"></activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="API_KEY" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>